@import '../../style/App.scss';

.hero {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 3rem;
  .hero-info {
    padding-top: 10px;
    padding-left: 20px;
    padding-right:20px ;

    p {
      padding-top: 40px;
      padding-bottom: 40px;
    }
   
  }

  .hero-image {
    max-width: 570px;
    height: auto;
    float: right;
  }

  
}

#intro{
  position: relative;
  // background-image:repeating-linear-gradient(red, yellow 10%, green 20%);
  z-index: -50;
  height: 500px;

}

dl{
  padding-left: 50px;
}




@media screen and (max-width: 1080px) {
  .hero {
    padding-top: 20px;

    .hero-info {
      padding-top: 10px;
    }

    .hero-image {
      float: none;
      margin: 0 auto;
      margin-top: 50px;
      
    }
  }
}
dd{
  padding-left: 2.4rem;
  padding: 1.4rem;
  line-height: 2rem;



}

@media screen and (max-width: 990px) {
  .hero {
    p.p_hero, h1 {
      text-align: center;
    }
  }
}

  


span.underline{
  text-decoration: underline;
}
dt.link{
  cursor: pointer;
  

}
dt.link:hover{
  text-decoration: underline;

}

