  @import '../../../style/App.scss';
  
  .portfolio__box {
    position: relative;
    margin: 15px auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 2rem auto 2rem;
    border-radius: 15px;
    color: $black-color;
    
  }

  @media screen and (min-width: 721px) {
    .portfolio__box{
      width: 45%;
    }
  }
  @media screen and (max-width: 720px) {
    .portfolio__box{
      width: 100%;
      padding: 5px;
      border-width: 1px;

    }
  }

  .text-box{
    max-width: 90%;
    padding: 6px;
  }

  .portfolio__box:hover{
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -4px);
  }



    img.proj_im {
      width: 100%;
      height: 350px;
      object-fit: contain;
      margin-bottom: 5px;
    }

    .role{

      color: $grey-color;
    }

    .portfolio__hover-info {
      background-color: rgba($main-color, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.3s ease;
      
      p {
        text-transform: uppercase;
      }
    }
    .portfolio__hover-info:hover {
      opacity: 1;
    }
  